.sidebar {
    border-right: 1px solid gray;
    padding: 0 16px;
}

.sidebar h3 {
    font-size: 14px;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
}